<!-- 侧边栏 -->
<div class="layui-side layui-bg-black" id="sidebar">
  <div class="layui-side-scroll">
    <ul class="layui-nav layui-nav-tree" lay-filter="nav">
      <li class="layui-nav-item {% if current_page == '/' %}layui-nav-itemed{% endif %}">
        <a href="/" data-cn="语音识别" data-en="Speech Recognition">
          <i class="layui-icon layui-icon-mic"></i> <span class="menu-text"></span>
        </a>
      </li>
      <li class="layui-nav-item {% if current_page == '/cut' %}layui-nav-itemed{% endif %}">
        <a href="/cut" data-cn="音频截取" data-en="Audio Cut">
          <i class="layui-icon layui-icon-cut"></i> <span class="menu-text"></span>
        </a>
      </li>
      <li class="layui-nav-item {% if current_page == '/convert_mp3' %}layui-nav-itemed{% endif %}">
        <a href="/convert_mp3" data-cn="转MP3格式" data-en="Convert to MP3">
          <i class="layui-icon layui-icon-play"></i> <span class="menu-text"></span>
        </a>
      </li>
      <li class="layui-nav-item {% if current_page == '/password_generator' %}layui-nav-itemed{% endif %}">
        <a href="/password_generator" data-cn="随机密码生成" data-en="Password Generator">
          <i class="layui-icon layui-icon-password"></i> <span class="menu-text"></span>
        </a>
      </li>
      <li class="layui-nav-item {% if current_page == '/upload_to_server' %}layui-nav-itemed{% endif %}">
        <a href="/upload_to_server" data-cn="上传到服务器" data-en="Upload to Server">
          <i class="layui-icon layui-icon-upload"></i> <span class="menu-text"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- 隐藏/显示侧边栏按钮 -->
<button class="sidebar-toggle" id="sidebar-toggle" title="隐藏/显示菜单">
  <i class="layui-icon layui-icon-shrink-right"></i>
</button>

